@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");

:root {
  --primaryBlack: #000000;
  --secondaryBlack: #333333;
  --primaryWhite: #ffffff;
  --lightGrey: #efefef;
  --grey: #bfbfbf;
  --steelblue: #2f454e;
  --paleblue: #2b8ead;
  --seagreen: #6f98a8;
  --turquoise: #72c3dc;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s linear;
}
html {
  font-size: 100%;
}
.header,
.footer {
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.header {
  font-size: 1.2rem;
  font-weight: bold;
}
.footer {
  font-size: 0.8rem;
  font-style: italic;
  max-width: 960px;
  background-color: var(--lightGrey);
  margin: auto;
}
.main {
  display: flex;
  max-width: 960px;
  height: 70vh;
  margin: auto;
  background-color: var(--lightGrey);
  border-top: 4px solid var(--grey);
  color: var(--primaryWhite);
}
.main .cardSection {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.main .controlSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardSection:empty {
  background-color: var(--grey);
}
.controlSection button {
  display: block;
  width: 130px;
  height: 40px;
  margin-top: 20px;
  background-color: var(--turquoise);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: 4px solid var(--paleblue);
  color: var(--primaryWhite);
  font-weight: bold;
}
.cardSection [class^="card-"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 4rem;
  color: var(--primaryWhite);
}
.card-1,
.card-8 {
  background-color: var(--seagreen);
}
.card-2,
.card-4 {
  background-color: var(--paleblue);
}
.card-3,
.card-5,
.card-9 {
  background-color: var(--steelblue);
}
.card-6,
.card-7 {
  background-color: var(--grey);
}
@media screen and (max-width: 600px) {
  .header {
    color: var(--primaryWhite);
    background-color: var(--secondaryBlack);
  }
  .main {
    flex-direction: column-reverse;
    background-color: var(--primaryWhite);
    padding: 5px;
    height: calc(100vh - 100px);
    border-top: 0;
  }
  .main .cardSection {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
  }
  .main .controlSection {
    height: 80px;
    flex: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .controlSection button {
    margin: 0 10px;
    width: 100px;
  }
  .cardSection [class^="card-"] {
    padding: 0.8rem;
    font-size: 1.3rem;
    background-color: var(--lightGrey);
    color: var(--primaryBlack);
    height: auto;
    margin-bottom: 2px;
    flex: 1;
  }
  .card-1,
  .card-8 {
    border-left: 4px solid var(--seagreen);
  }
  .card-2,
  .card-4 {
    border-left: 4px solid var(--paleblue);
  }
  .card-3,
  .card-5,
  .card-9 {
    border-left: 4px solid var(--steelblue);
  }
  .card-6,
  .card-7 {
    border-left: 4px solid var(--grey);
  }
}
@media screen and (max-width: 375px) {
  .main {
    height: 100vh;
  }
}
